<h1><strong>Stupid Coaching</strong></h1>

<div class="question_field">
  <p>Hello there</p>
  <%= @question %>
</div>

<div class="answer_field">
  <%= @answer %>
</div>

<%= link_to "Back to your coach", ask_path %>
